*{
    box-sizing: border-box;
    
}
body{
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
    overflow-x: hidden;
}
main{
    background-color:aliceblue;
}
nav{
    z-index: 3;
}

.header {
    height: 50vh;
    display: grid;
    align-content: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}



.header-video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    overflow: hidden;
}
.header-video video{
    min-width: 100%;
    min-height: 100%;
}

.header-fondo{
    height: 50vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #303952;
    z-index: 1;
    opacity: .85;
}

.header-content {
    z-index: 2;
    display: grid;
    padding-bottom: 40px;
    
}
.header-content img{
    background-size: cover;
    border-radius: 100%;
}

.header-content h1{
    font-size: 50px;
    margin-bottom: 0;
    font-family: 'Lobster Two', cursive;
}

ul{
    align-items: center;
}
.video-codigo{
    opacity: .6;
}

@media screen and (min-width: 0px){
    .header-content img {
        width: 100px;
    }
    .header-content h1 {
        font-size: 20px;
    }
}
@media screen and (min-width: 768px){
    .header-content img {
        width: 180px;
    }
    .header-content h1 {
        font-size: 30px;
    }
}
@media screen and (min-width: 992px){
    .header-content img {
        width: 200px;
    }
    .header-content h1 {
        font-size: 40px;
    }
}